.header{
  width: 100%;
  height: 70px;
  background-color: #207DEF;
}




.header-ul {
  list-style-type: none; 
  padding: 0;
  margin-left: 400px;
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  width: 952px;
  color: #FFF;
font-family: Inder;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;


}

.header-ul li {
  margin-right: 10px; /* Adjust the right margin to create space between items */
  margin-top: 18px;
}
.images12 img{
  width: 60px;
  height: 60px;
  background-color: #207DEF;
  margin-right: 50px;
}
.header-ul  a {
  text-decoration: none;
  color: #FFF;
font-family: Inder;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
  
}
.image-profile{
  margin-top: 5px;
}
.box-1{
  border: 2px solid blue; /* Set the border to 2 pixels solid blue */
  padding: 10px; 
  width: 404px;
height: 523px;
margin-top: 70px;
}

.box-1-image {
  width: 300px;
  margin-top: 30px;
  margin-left: 40px;
}
.box-1-name{
  color: #207DE9;
font-family: Inconsolata;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.box-1-price{
  color: #FFDF6E;
font-family: Inconsolata;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: -20px;
}

.box-1-product{
  border-radius: 30px;
border: 3px solid #207DFF;
background: #FFF;
color: #207DE9;
font-family: Inconsolata;
font-size: 28px;
font-style: normal;
font-weight: 701;
line-height: normal;
padding: 14px;
padding-top: 10px;
width: 200px;
margin-left: 20px;

}
.box-1-cart{
  border-radius: 40px;
  border: 3px solid #207DFF;
  background: #FFF;
  justify-content: center;
  justify-items: center;
  margin-left: 40px;
  padding: 10px;
  width: 80px;
  
}
.box-1-cart img{
  width: 60px;
  height: 60px;
  margin-left: 10px;
  
  
}
.boxing123{
  display: flex;
  
}
.box-container{
 display: flex;
 justify-content: space-between;

 
}



